body {
  font-family: sans-serif;
  background-color: pink;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 400px;
  border: 1px solid purple;
}

input,
label {
  margin: 5px;
}

input {
  padding: 10px;
}

.submit:hover {
  background: grey;
  color: white;
